body{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "soleil";
    src: url(../fonts/soleil/SoleilLight.otf);
}

@font-face {
    font-family: "Bfp";
    src: url(../fonts/Frieght-big-pro/FreightBigProSemibold-Regular.woff);
}

@font-face {
    font-family: "soleilBook";
    src: url(../fonts/soleil/SoleilBook.otf);
}

@font-face {
    font-family: "soleilregular";
    src: url(../fonts/soleil/SoleilRegular.otf);
}
.overlay{
    width: 100%;
    position: fixed;
    top: 0%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.35);
    opacity: 0;
    z-index: -3;
    transition: 1s;
}
.show-popup{
    opacity: 1;
    z-index: 1;
}
.admin-login{
    width: 360px;
    background-color: white;
    padding: 40px 10px;
    text-align: center;
    position: absolute;
    top: -50%; /* - because we want to hide form*/
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 2s;
}
.show-form{
    top: 50%;
}
.admin-login>input{
    width: 90%;
    margin-bottom: 30px;
    height: 42px;
}
.contactDeveloper{
    text-decoration: none;
    color: rgb(1, 1, 185);
}
#submit{
    background-color: black;
    font-weight: 700;
    font-size: 15px;
    color: white;
    width: 340px;
    height: 42px;
    cursor: pointer;
}
.coat{
    color: gray;
    font-size: 12px;
}
hr.grayline{
    border-top: 1px solid rgb(202, 202, 202);
}
.admin-login span{
    position: absolute;
    right: 0px;
    top: 5px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 700;
    width: 40px;
}


/* ******************DASHBOARD************************ */
#admin-navbar{
    border-bottom: 1px solid rgb(189, 189, 189);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    padding-left: 50px;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 30; 
    background-color: white;
}
#admin-navbar img{
    width: 105px;
}
.inline{
    display: flex;
    margin-right: 100px;
}
.inline input{
    font-family: "soleilBook";
    border: 1px solid black;
    background-color: white;
    padding: 12px 20px;
    margin-right: 10px;
}
#main{
    display: flex;
}
#h4{
    font-family: "soleil";
    font-size: 20px;
    text-align: center;
    margin-bottom: 0px;
}
#h3{
    font-family: "Bfp";
}
#left{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 20%;
    padding: 50px 20px 10px 20px;
    height: 100%;
    position: fixed;
    z-index: 29; 
    background-color: white;
    overflow-x: hidden;
}
#left > input{
    font-family: "soleilBook";
    color: gray;
    width: 250px;
    margin: 10px;
    height: 30px;
    border: none;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
#section, #category{
    font-family: "soleilBook";
    width: 96%;
    margin: 4px;
    height: 35px;
    border: none;
    color: gray;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
#left > button{
    width: 96%;
    margin: 15px 5px 5px 5px;
    background-color: black;
    color: white;
    padding: 10px 0px;
}
#left span{
    font-family: "soleilBook";
    font-size: 12px;
}
/* *******************Table************************ */

th{
    font-family: "soleil";
    font-size: 15px;
    background-color: rgb(255, 175, 1);
    padding: 10px 25px;
}
.big{
    width: 200px;
}
td{
    font-family: "soleilregular";
    font-size: 13px;
    text-align: center;
}
table{
    margin: auto;
    margin: 60px 10px 0px 325px;
}
#filter{
    background-color: black;
    color: aliceblue;
    font-size: large;
    font-weight: 500;
    padding: 10px;
    margin: 20px 0px 0px 100px;
}
tr img{
    width: 100px;
    height: 120px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.red{
    color: red;
    background-color: rgb(255, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-weight: 700;
    cursor: pointer;
}
.green{
    color: rgb(0, 110, 0);
    background-color: rgb(226, 255, 226);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-weight: 700;
    cursor: pointer;
}
